/* Global styles */

/* Box-sizing rule for easier layout control */
* {
    box-sizing: border-box;
}
#main-container {
  background-color: #312E31; /* Set the background color of the container */
  margin: 0 1px; /* Set the left and right margins to match your current layout */
}

/* Basic styling */
/* Default body margin and padding */
body {
    margin: 0 auto;
    max-width: 1028px;
    /* or any other value you prefer */
    padding: 0;
    padding-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #999;
    background-color: #1B1D21;
}

a {
    color: #333;
    text-decoration: none;
}

/* Header styles */
/* Sticky header at the top of the page */
header {
    position: sticky;
    top: 0;
    z-index: 999;
    

    padding: 25px;
    background-image: url("images/CoverPhoto.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.3);
}



header h1 {
    margin: 0;
    font-size: 28px;
    margin-bottom: 0.1em;

}

header#home-header h1 {
    font-family: Calibri, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #702963;
    /* red color in hex */
    margin-bottom: 0.1em;
    text-shadow: 0 0 10px #000;


}

header#home-header h2 {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    color: whitesmoke;
    margin-top: 0em;
    margin-bottom: 0em;

}

hr {
    border-top: 4px solid #702963;
    margin: 5px 2;
}


nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #1B1D21;
    border: 2px solid #333;
    padding: 10px;
}

nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav li {
    position: relative;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a:hover {
    color: #fff;
}
/* Dropdown menu */
nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%; /* make the submenu width 100% */
}

nav ul ul li:hover {
    background-color: #444;
}

nav li:hover > ul {
    display: block;
}

nav ul ul li {
    display: block;
    width: 100%; /* make the submenu items width 100% */
}

nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    display: none;
    width: 200px; /* change this value to adjust the width */
}

/* Logo styles */
.logo {
    display: inline-block;
    margin: 0;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.container {
    text-align: center;
}

/* Three-column layout */
.col {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.col-img {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

/* Home page */
#introduction {
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.container h1 {
    font-size: 36px;
    margin: 0;
    color: #a43c3c;
    text-shadow: 2px 2px #000;
    font-weight: bold;
}

.hero h2 {
    font-size: 48px;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px #000;
}


/* Skills section */

.skills-background {
    background-color: #333333;
}

.skill-col {
    display: inline-block;
    text-align: center;
    width: 25%;
}

.skill-icons p {
    margin: 0;
    font-size: 16px;

}

.skill-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0px;
}

.skill-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin-top: 0px;
    margin-bottom: -15px;
}

.skill-names {
    display: block;
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
}

.social-links {
    display: inline-block;
    float: right;
}

.social-links a {
    display: inline-block;
    margin-left: 10px;
}

.social-links img {
    width: 25px;
    height: 25px;
}

/* Project Section*/
.project {
  position: relative;
}

.project h2 {
    font-family: Calibri, sans-serif;
    font-size: 100px;
    color: whitesmoke;
    margin-top: 0em;
    margin-bottom: 0em;
}

.project .role {
  position: relative;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 0px;
  font-size: 20px;
  text-align: center;
}


/* Games section */
.games {
    padding: 40px;
    display: flex;
    flex-wrap: wrap
}

.games-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
    flex: 3;
}



.games-col text{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.games-col img {
  max-width: 100%;
  height: auto;
  margin-right: 2rem;
}

.games-col-image img {
  max-width: 45%;
  height: auto;
  margin-right: 2rem;
}

 .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .games-col img {
    max-width: 100%;
  }


.game {
    margin: 20px;
    text-align: center;
    width: 300px;
}

.game img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.container h3 {
    margin: 10px 0 0 0;
    font-size: 48px;
}

.game p {
    margin: 10px 0 0 0;
    font-size: 18px;
}

/* Games page */
.game-details {
    padding: 40px;
}

.game-details h2 {
    margin: 0;
    font-size: 36px;
}

.game-details p {
    margin: 20px 0;
    font-size: 18px;
}

.game-details ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.game-details ul li {
    margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.resume-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resume-summary-image {
  flex: 0 0 auto;
  margin-right: 20px;
}

.resume-summary-image img {
  max-width: 100%;
}

.resume-summary-text {
  flex: 1 1 auto;
}



/* Contact page */
.contact-form {
    padding: 40px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
}
